.card {
    margin: auto;
    // text-align: center;
}

.card-text {
    color: #707070;
}

.card-title {
    text-transform: uppercase;
}

.card-image {
    // min-width: 100%;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 0;
}

.card-image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}